<div class="city-selector">
  <app-city-selector
    [cities]="cities"
    [value]="selectedCity.name"
    [isActionNeeded]="false"
    (citySelector)="setCity($event)"
  ></app-city-selector>
</div>

<div class="weather-card-wrapper">
  <app-current-weather
    [weatherData]="currentWeatherData"
    [city]="selectedCity"
  ></app-current-weather>
  <div class="prediction-box">
    <app-weather-prediction
      [weatherData]="predictionData.weatherFeed"
    ></app-weather-prediction>
  </div>
</div>
