<mat-card class="example-card">
  <mat-card-subtitle>{{ now }}</mat-card-subtitle>
  <mat-card-title
    >{{ city.name }}, {{ city.country }}</mat-card-title
  >
  <mat-card-title class="temperature">{{ temperature }}&#8451;</mat-card-title>
  <h3
    >{{ weatherMain | titlecase }}, {{ weatherDescription | titlecase }}</h3
  >
  <app-weather-icon
    *ngIf="isDataAvailable"
    [iconUrl]="weatherIconUrl"
  ></app-weather-icon>
  <!-- <div>{{ weatherDescription | titlecase }}</div> -->
  <mat-card-content>
    <p class="wind-speed">Wind Speed : {{ windSpeed }} m/s</p>
  </mat-card-content>
  <!-- <mat-divider inset></mat-divider> -->
  <mat-card-footer> </mat-card-footer>
</mat-card>
