.no-city-card{
    width:50%;
    height: auto;
    min-height: 300px;
    left: 0;
    top: 50px;
    margin: auto;
    position: relative;
}
.card-custom-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.image-container{
    width: 200px;
    margin: auto;
    padding: 30px;
}
